<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="localIP" value="192.168.0.100"/>
    <add key="localPort" value="623"/>
    <add key="remoteIP" value="192.168.0.100"/>
    <add key="remotePort" value="6232"/>
  </appSettings>
</configuration>